<!DOCTYPE html>
<html>
  <head>
    <title>shake</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/ionic.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/shake.css"/>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.duanpengfei.com:3000/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/shake.js"></script>
  </head>
  <body>
    <h2 id="title">让我们一起摇摆</h2>
    <div id="img_1"><img src="images/lv_1.png" alt="lv_1"></div>
    <div id="img_2"><img src="images/lv_2.png" alt="lv_2"></div>
    <div id="img_3"><img src="images/lv_3.png" alt="lv_3"></div>
    <div id="img_4"><img src="images/lv_4.png" alt="lv_4"></div>
    <a class="button button-block button-dark" href="/">返回</a>
    <p id="debug"></p><p id="debug0"></p>
  </body>
</html>