
#header {
	position: relative !important;
	width: 100%;
	height: 40px !important;
	background-color: #333 !important;
	box-shadow: 0 0 0 black,
						  0 0 0 black,
						  0 2px 5px #333,
						  0 0 0 black;
	border-color: #223 !important;
}

#screen {
	position: relative;
	width: 100%;
	color: #fff5ee;
	background-color: #444;
}

#info {
	width: 100%;
	height: 24px !important;
	padding: 2px 5px 2px 5px;
	color: #fff0f5;
	background-color: #333;
}

#list {
	overflow-y: auto;
	overflow-x: hidden;
}

li {
	border-color: #eef !important;
	padding: 10px 15px 10px 15px !important;
	white-space: normal !important;
}

#input {
	z-index:10;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 42px !important;
	padding: 5px;
	margin: 0 !important;
}

#biu {
	font-size: 15px;
	font-weight:bold;
}

#color-select {
	margin-right: 10px;
	border-radius     : 5px;
	-moz-border-radius: 5px;
}

#color-board {
	z-index: 5;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 45px !important;
	padding: 7px 10px 7px 10px;
	border-radius     : 5px;
	-moz-border-radius: 5px;
	opacity:0;
	background-color: #555;
}

div[id^="color-item"] {
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius     : 5px;
	-moz-border-radius: 5px;
}

