
#shake {
	z-index: 20;
	position: fixed;
	top: 0;
	left: 10%;
	width: 80%;
	display: none;
	opacity: 0;
	padding: 10px 10% 20px 10%;
	background-color: #333;
}

#title {
	color: #eee;
	width: 100%;
	text-align: center;
}

.debug {
	color: #eee;
}

img[id^="img"]{
	display: none;
}

#img_1 {
	display: inline;
}